/* include border and padding size inside html element's dimensions */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* allow app to span full page dimensions */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* NAVBAR */

.masterhead {
  display: grid;
  text-align: center;
  color: #ffffff;
  background: transparent;
  height: 145px;
  width: 100%;
  position: absolute;
  position: fixed;
  z-index: 1;
}

.menu1 {
    grid-column: 1;
    grid-row: 1;
}

.menu2 {
    grid-column: 1;
    grid-row: 2;
}

@media (min-width: 600px) {
  .menu1 {
    grid-column: 1;
    grid-row: 1;
  }

  .menu2 {
    grid-column: 2;
    grid-row: 1;
}
}

/* HOME SECTION */

#home {
  background-image: url("../images/waterwoods.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  display: table;
  width: 100%;
  color: #ffffff;
}

#homecont {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 600px) {
  #home {

  }
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
}

#homeport {
width: 100%;
display: grid;
background: #000000;
grid-template-columns: auto;
}

@media (min-width: 600px) {
  #homeport {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 900px) {
  #homeport {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1200px) {
}

/* HOME PORTFOLIO */

#homeporttitle {
  background: #000000;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.portitem {
    text-align: center;
}

.portitem::after {
    background: rgba(0, 0, 0, 0.0);
    content: "";
    position: absolute;
    margin-left: -300px;
    height: 300px;
    width: 300px;
    transition: background 1s;
}

.portitem:hover::after {
    background: rgba(0, 0, 0, 0.25);
}

/* HOME QUOTE */

#homequote {
display: grid;
padding-top: 20%;
padding-bottom: 20%;
width: 100%;
color: #ffffff;
background: #000000;
text-align: center;
}

#quotetext {
  text-align: left;
  grid-row: 1;
  grid-column: 1;
  padding-bottom: 5%;
}

#quoteref {
  text-align: left;
  grid-row: 2;
  grid-column: 1;
}

@media (min-width: 600px) {
  #quoteref {
    text-align: right;
    grid-row: 2;
    grid-column: 2;
  }
}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}

/* HOME ABOUT */

#homeabout {
 width: 100%;
 height: 50%;
}

#photobanner {
  background-image: url("../images/waterwoods.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
display: grid;
height: 100%;
width: 100%;
}

#transparentbg {
    display: none;
}

#textbg {
    grid-column: 1 / span 2;
    background: rgba(255, 255, 255, 0.5);
}

@media (min-width: 600px) {
  #transparentbg {
      display: block;
      grid-column: 1;
  }

  #textbg {
    grid-column: 2;
  }
}



/* FOOTER */

.masterfoot {
  text-align: center;
  color: #ffffff;
  background: #000000;
}
