/* include border and padding size inside html element's dimensions */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* allow app to span full page dimensions */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.masterhead a {
  color: #ffffff;
}

/* NAVBAR */

.masterhead {
  display: grid;
  text-align: center;
  color: #ffffff;
  background: transparent;
  height: 50px;
  width: 100%;
  position: absolute;
  position: fixed;
  z-index: 1;
}

.menu1 {
    grid-column: 1;
    grid-row: 1;
}

.logo {
  height: 100%;
  width: 100%;
}

.menu2 {
    grid-column: 1;
    grid-row: 2;
    font-size: 18px;
    font-weight: 100;
}

.menuitem {
  margin-right: 3%;
}

@media (min-width: 600px) {
  .menu1 {

  }

  .menu2 {
    font-size: 28px;
}

.menuitem {
  margin-right: 8%;
}


}

@media (min-width: 900px) {
  .menu1 {
height: 90%;
width: 90%;
  }

  .menu2 {
    font-size: 20px;
    grid-column: 2;
    grid-row: 1;
  }

  .menuitem {
margin-right: 0%;
  }
}

/* HOME SECTION */

#home {
  background-image: url("../images/waterwoods.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  display: table;
  width: 100%;
  color: #ffffff;
}

#home a {
  color: #ffffff;
}

#homecont {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-family: 'Cormorant', serif;
}

@media (min-width: 600px) {
  #homecont {
font-size: 40px;
  }
}

@media (min-width: 900px) {
  #homecont {
font-size: 50px;
  }
}

@media (min-width: 1200px) {
}

#homeport {
width: 100%;
display: grid;
background: #000000;
grid-template-columns: auto;
}

@media (min-width: 600px) {
  #homeport {
    grid-template-columns: auto auto;
  }

}

@media (min-width: 900px) {
  #homeport {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1200px) {
}

/* HOME PORTFOLIO */

#homeport {
width: 100%;
display: grid;
background: #000000;
grid-template-columns: auto;
}

#homeporttitle {
  background: #000000;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 30px;
  font-family: 'Cormorant', serif;
}

.portitem {
    text-align: center;
}

.portitem::after {
    background: rgba(0, 0, 0, 0.0);
    content: "";
    position: absolute;
    margin-left: -300px;
    height: 300px;
    width: 300px;
    transition: background 1s;
}

.portitem:hover::after {
    background: rgba(0, 0, 0, 0.25);
}

@media (min-width: 600px) {
  #homeport {
    grid-template-columns: auto auto;
  }

  #homeporttitle {
    font-size: 40px;
  }

}

@media (min-width: 900px) {
  #homeport {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1200px) {
}

/* HOME QUOTE */

#homequote {
display: grid;
padding-top: 10%;
padding-bottom: 10%;
width: 100%;
color: #ffffff;
background: #000000;
text-align: center;
padding-left: 5%;
padding-right: 5%;
font-size: 30px;
font-family: 'Cormorant', serif;
}

#quotetext {
  text-align: left;
  grid-row: 1;
  grid-column: 1 / span 2;
  padding-bottom: 5%;
}

#quoteref {
  text-align: right;
  grid-row: 2;
  grid-column: 2;
}

@media (min-width: 600px) {
#homequote {
  font-size: 40px;
}

  #quoteref {

  }
}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}

/* HOME ABOUT */

#homeabout {
 width: 100%;
 height: 85%;
}

#homeabout a {
  color: #000000;
}

#photobanner {
  background-image: url("../images/forest.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
display: grid;
height: 100%;
width: 100%;
grid-template-columns: 50% 50%;
}

#transparentbg {
    display: none;
}

#textbg {
    grid-column: 1 / span 2;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

#hahead {
font-size: 30px;
margin-bottom: 5%;
font-family: 'Cormorant', serif;
}

#hapara {
font-size: 20px;
margin-bottom: 5%;
}

#hbtncont {
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Cormorant', serif;
}

#readmorebtn {
  font-size: 20px;
  border: solid #000000 2px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5%;
}

#resumebtn {
font-size: 20px;
border: solid #000000 2px;
border-radius: 5px;
padding: 5px 5px 5px 5px;
}

@media (min-width: 600px) {
#homeabout {
  height: 75%;
}

  #hahead {
    font-size: 40px;
  }

  #hapara {
    font-size: 30px;
  }
}

#readmorebtn {
  font-size: 30px;
}

#resumebtn {
font-size: 30px;
}

@media (min-width: 900px) {

  #transparentbg {
      display: block;
      grid-column: 1;
  }

  #textbg {
    grid-column: 2;
  }

}

@media (min-width: 1200px) {

}



/* FOOTER */

.masterfoot {
  text-align: center;
  color: #ffffff;
  background: #000000;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.foottitle {
  font-size: 30px;
  margin-bottom: 5%;
  font-family: 'Cormorant', serif;
}

.footpara {
  font-size: 20px;
  margin-bottom: 10%;
}

.breakline {
  border-bottom: solid #ffffff 2px;
  width: 50%;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 10%;
  margin-top: 10%;
}

.lasticon {
  height: 50px;
  width: 50px;
  margin-top: 10%;
}

.copyrights {
  margin-top: 10%;
  font-size: 14px;
}

@media (min-width: 600px) {
.foottitle {
  font-size: 40px;
}

.footpara {
  font-size: 30px;
}

.icon {
  height: 70px;
  width: 70px;
}

.lasticon {
  height: 70px;
  width: 70px;
}

.copyrights {
  font-size: 24px;
}
}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}
